<div class="container" style="width: 70%;padding-top: 20px">
<div class="jumbotron -align-center container">
  <h1 class="display-6">Your favourites:</h1>
  <hr class="my-4">

  <div class="container">
    <table mdbTable #tableEl="mdbTable" class="z-depth-1">
      <thead>
      <tr>
        <th *ngFor="let head of headElements;
      let i = index" scope="col">{{head}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let el of this.favService.getFavs(); let i = index">
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.isbn!==undefined ? el.isbn[0] : ''}}</th>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.author_name}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.title}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.first_publish_year}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <button (click)="this.favService.manageFavourites(el)" style="background: transparent; border: transparent">
            <div *ngIf="this.favService.contains(el)">
              {{'❤️'}}
            </div>
            <div *ngIf="!this.favService.contains(el)">
              {{'🖤'}}
            </div>
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="5">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="this.favService.getFavs()"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

</div>
</div>
