<p>
  books-search works!
</p>

<!--KERESÉS-->
<div class="container">
  <div class="jumbotron" style="padding: 2rem">
    <h1 class="display-7">Search</h1>
    <p class="lead">Here is the search form, you can search in various forms.</p>
    <hr class="my-4">

  </div>

<!--TÁBLÁZAT EREDMÉNY-->

<div class="container">
  <table mdbTable #tableEl="mdbTable" class="z-depth-1">
    <thead>
    <tr>
      <th *ngFor="let head of headElements;
      let i = index" scope="col">{{head}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let el of elements; let i = index">
      <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{i+1}}</th>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.author_name}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.title}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.first_publish_year}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{'like'}}</td>
    </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
    <tr>
      <td colspan="5">
        <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
</div>
