<!--KERESÉS-->
<div class="container" style="padding-top: 20px">
  <div class="jumbotron" style="padding: 2rem">
    <h1 class="display-7">Search</h1>
    <p class="lead">Here is the search form, you can search in various forms.</p>
    <hr class="my-4">
    <div class="row" style="padding-bottom: 10px">
      <div class="col-6">Simple Search</div>
      <div class="col-6">Advanced Search</div>
    </div>
    <div class="row">
      <div class="col-2">
          <select class="browser-default custom-select" #option>
            <option selected value="q">keyword</option>
            <option value="author">author</option>
            <option value="title">title</option>
            <option value="isbn">ISBN</option>
            <option value="subject">subject</option>
          </select>
      </div>
      <div class="col-4"><input mdbInput type="text" class="form-control" #simple_search></div>
      <div class="col-2">Keywords</div>
      <div class="col-4"><input mdbInput type="text" class="form-control" #keywords_complex></div>
    </div>
    <div class="row" style="padding-top: 20px">
      <div class="col-4"></div>
      <div class="col-2"><button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect style="border-radius: 20px" (click)="simpleSearch(option.value, simple_search.value)">Search</button></div>
      <div class="col-2">Author</div>
      <div class="col-4"><input mdbInput type="text" class="form-control" #author></div>
    </div>
    <div class="row">
      <div class="col-6"></div>
      <div class="col-2">Title</div>
      <div class="col-4"><input mdbInput type="text" class="form-control" #title></div>
    </div>
    <div class="row" style="padding-top: 20px">
      <div class="col-6"></div>
      <div class="col-2">ISBN(s)</div>
      <div class="col-4"><input mdbInput type="text" class="form-control" #isbn></div>
    </div>
    <div class="row" style="padding-top: 20px">
      <div class="col-10"></div>
      <div class="col-2"><button mdbBtn type="button"
                                 color="info" rounded="true"
                                 mdbWavesEffect style="border-radius: 20px"
                                 (click)="complexSearch(keywords_complex.value, author.value, title.value, isbn.value)">
        Search</button></div>
    </div>

  </div>


<!--TÁBLÁZAT EREDMÉNY-->

<div class="container">
  <table mdbTable #tableEl="mdbTable" class="z-depth-1">
    <thead>
    <tr>
      <th *ngFor="let head of headElements;
      let i = index" scope="col">{{head}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let el of results; let i = index">
      <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.isbn!==undefined ? el.isbn[0] : ''}}</th>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.author_name}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.title}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.first_publish_year}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><button (click)="this.favService.manageFavourites(el)">{{'❤️'}}</button></td>
    </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
    <tr>
      <td colspan="5">
        <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="results"></mdb-table-pagination>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
</div>
