<div class="container" style="text-align: center; padding-top: 40px">
  <div class="jumbotron -align-center">
    <h1 class="display-4">Hello, Bookworm! 📖🐛</h1>
    <p class="lead">This is a simple page for people who likes surfing on the internet looking for new interesting books. This website is for who has not enough time walking around in libraries.</p>
    <hr class="my-4">
    <p>Virtual libraries is the new generation. Please feel free here!</p>
    <a mdbBtn color="info" size="lg" routerLinkActive="active" routerLink="/search" role="button" mdbWavesEffect>Search</a>
  </div>
</div>
